---
import Layout from '../../layout/Layout.astro';
import Expand from '../../components/expand.astro';
---
<Layout>
  <main>
    <h1 class="text-2xl text-black dark:text-white">Products</h1>
    <Expand label="Open">
      <ul class="list-none text-black dark:text-white">
        <li>
          <a href="/products/sku-1">Product 1</a>
        </li>
        <li>
          <a href="/products/sku-2">Product 2</a>
        </li>
        <li>
          <a href="/products/sku-3">Product 3</a>
        </li>
      </ul>
    </Expand>
  </main>
</Layout>